name = "CatViews"
uuid = "81a5f4ea-a946-549a-aa7e-2a7f63a27d31"

[compat]
julia = "0.7, 1"

[extras]
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Random"]
